
<ion-content>
  <div id="container">
    <strong>Registro</strong>
    <div>
      <div>
        <strong>nombre de privada</strong>
        <ion-input placeholder="nombre de privada"></ion-input>
        <strong>Apellidos</strong>
        <ion-input placeholder="Apellidos"></ion-input>
        <strong>Email</strong>
        <ion-input placeholder="Email"></ion-input>
        <strong>Contrasena</strong>
        <ion-input placeholder="Contrasena"></ion-input>
        <strong>Datos del domicilio</strong>
        <strong>Calle</strong>
        <ion-input placeholder="Calle"></ion-input>
        <strong>No. exterior</strong>
        <ion-input placeholder="No. exterior"></ion-input>
      </div>
      <ion-button color="brown" style="background-color: #555050">Registrarse</ion-button>
    </div>
  </div>

</ion-content>
