<ion-header>
    <ion-toolbar color="brown" style="background-color: #555050">
        <ion-buttons slot="start" >
            <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
        <ion-title style="color: white;">Detalles</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid class="ion-text-center">

        <ion-row class="ion-margin">
          <ion-col>
            <ion-title >
              <ion-text color="default">
               Residentes
              </ion-text>
            </ion-title>
          </ion-col>
        </ion-row>
    
        <ion-row class="header-row">
          <ion-col>
            <ion-text>Fecha registro</ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>Usuario</ion-text>
          </ion-col>
    
          <ion-col>
            <ion-text>Casa</ion-text>
          </ion-col>
        </ion-row>
    
    
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2023
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2023
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2021
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2024
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2021
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2020
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2026
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2027
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text>
                19/10/2019
            </ion-text>
          </ion-col>
    
            <ion-col>
              <ion-text>
                hola
              </ion-text>
            </ion-col>
      
            <ion-col>
              <ion-text>
                LT27
              </ion-text>
            </ion-col>
        </ion-row>
    
      </ion-grid>
</ion-content>