<ion-header>
    
</ion-header>

<ion-content padding>
    <div id="container">
        <div>
          <img src="/assets/logo.jpg" width="60%" height="70%">
          
        </div>
        <strong>Iniciar sesion</strong>
        <div>
          <div>
            <strong>Email</strong>
            <ion-input placeholder="nombre@ejemplo.com"></ion-input>
            <strong>Password</strong>
            
            <ion-input placeholder="************"></ion-input>
          </div>
          <ion-button href="/menu/second" color="brown" style="background-color: #555050;">Iniciar</ion-button>
          
        </div>
        <p>¿Contraseña olvidada?</p>
        <ion-button block color="brown" style="background-color: #555050;"   href="/registro">registrate</ion-button>
      </div>
</ion-content>