

#textito{
    text-align: center;
    align-items: center;
    
}

#datos{
text-align: center;
align-items: center;

}

#datos{
    align-items: center;
    text-align: center;
    
    
    
    }
    #volver{
        align-items: center;
        color: azure;
        text-align: center;
        
    }