<ion-header >
    <ion-toolbar color="brown" style="background-color: #555050">
      
      <ion-title style="color: white;">
        Visitante
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div>
      <ion-text> <br><h3 id="datos"> Datos del registro </h3></ion-text>
  
    </div>
  
    <ion-item>
      <ion-label position="floating">Nombres </ion-label>
      <ion-input type="text" required name="servicio" ngModel></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">apellidos</ion-label>
      <ion-input type="text" required name="empresa" ngModel></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Fecha</ion-label>
      <ion-input type="date" required name="fecha" ngModel></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label floating>Hora</ion-label>
      <ion-input type="time" required name="hora" ngModel></ion-input>
    </ion-item>
  
  
  
    <ion-item>
      <ion-label floating>Su token: </ion-label>
      <ion-label floating>#hjajhsagh</ion-label>
    </ion-item>
  
  
      
    
  
  
  
  </ion-content>
  